<div class="toast fade bg-danger text-white floating-message-alert position-fixed top-0 start-50 translate-middle-x"
     role="alert" aria-live="assertive" aria-atomic="true"
     style="z-index: 1050; margin-top: 10px;">
    <div class="toast-body d-flex">
        <div class="flex-fill show-error-message"></div>
        <button type="button" class="btn-close flex-shrink-0 ms-2 btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>