{% extends 'cp/admin_base.html.twig' %}

{% block title %}E-mail Logs | Logs{% endblock %}
{% set active = 'email_logs' %}
{% set breadcrumbs = [
    {
        'title': 'Logs', 'link': path('cp_logs')
    },
    {
        'title': 'E-mail Logs'
    }
] %}

{% block content %}
    {% include 'cp/logs/email_logs/filter.html.twig' %}
<div class="card mt-3 mb-2">
    <div class="table-responsive rounded">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(emailLogs, 'ID', 'el.id') }}</th>
                <th>{{ knp_pagination_sortable(emailLogs, 'Time', 'el.time') }}</th>
                <th>E-mail</th>
                <th>Subject</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            {% for emailLog in emailLogs %}
                {% include 'cp/logs/email_logs/row.html.twig' %}
            {% else %}
                <tr>
                    <td colspan="4">No records found.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
